@media screen and (max-width: 30cm) {
  .img-withBorder {
    display: none;
  }
  section{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    float:none;
    scrollbar-color:  #EB8365 #AEEEDC;
    scrollbar-width: thin;
  }
  body{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
  }
  table{
    overflow-x: scroll;
    scrollbar-color:  #EB8365 #AEEEDC;
    scrollbar-width: thin;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
body{
  background: linear-gradient(to left top, #9E4024, #EB8365) fixed;
}
div.container{
  display: flex; 
  flex-direction: column;
  align-items: center;
}
#header{
    color:#2E6B5A;
    background-color: #AEEEDC;
    font-family: papyrus, fantasy;
    width: 100%;
    width: 95vw;
    border:2px double #4fba9a;
    padding: 5px;
    line-height: 2.5;
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}
.section-left {
    overflow:auto;
 }
 .section-right{
     width:220px;
     max-height: 100vh;
     margin-left:30px;
     float:right;
     }
     .section-right-scrollable{
      overflow-y: scroll;
      scrollbar-color:  #EB8365 #AEEEDC;
      scrollbar-width: thin;
     }
     section {
        background-color: #AEEEDC;
        color:#2E6B5A;
         border:1px solid #4fba9a;
         margin: 5px;
         padding: 5px;
         font-family: Georgia, serif;
         line-height: normal;
         border-radius: 15px;
         }
        footer{
             float: left;
             border:2px double #4fba9a;
             border-radius: 15px;
         }
         aside {
             width: 30%;
             float: right;
             font-style: italic;
         }
         .service-list {
            list-style-type: none;
            display: inline-block;
            }
            .service-list img
            {
            float:left;
            padding: 5px;
            }
            a:link {
                color: #52c0a1;
                background-color: transparent;
                text-decoration: none;
              }
              a:visited {
                color: #4fba9a;
                background-color: transparent;
                text-decoration: none;
              }
              a:hover {
                color: #9E4024 ;
                background-color: transparent;
                text-decoration: underline;
              }
              a:active {
                color: #EB8365 ;
                background-color: transparent;
                text-decoration: underline;
              }
              h1, h2, h3, h4, h5, h6{
                color: #9E4024;
                font-family: "Cormorant", serif;
              }
              h2{
                font-size: 35px;
                font-weight: 800;
              }
              h4{
                font-size: 25px;
                position:static;
              }
              .section-left-playlist {
                font-family: StickNoBills-VariableFont_wght;
                background-color: #2E6B5A;
                background-position: left top;
                background-repeat: repeat;
                background-image: url('.../Resources/PlaylistBackgound2.jpg');
                color: #66EBC5;
            }
            blockquote{
              font-family: 'Sansita Swashed', cursive;
              font-size: 20px;
              background-color: wheat;
              color:black;
              border: 2px solid #9E4024;
              padding: 5px;
              border-radius: 10px;
            }
            .img-withBorder{
              border:2px outset #4fba9a;
              box-shadow: #4fba9a 0px 22px 70px 4px;
              margin: 10px;
              border-radius: 10px;
            }
            table{
              display: inline-grid;
              grid-template-columns: repeat(5, 1fr);
              grid-template-rows: repeat(7, 1fr);
              grid-auto-flow: row;
              background: #2E6B5A;
              color: #66EBC5;
              border:1px solid #4fba9a;
              border-radius: 10px;
              font-family: "Cormorant", serif;
            }
          
            thead,tbody, tr {
              display: contents;
            }
            caption{
              font-size: 25px;
              font-family: "Cormorant", serif;
              grid-column-start: 1;
              grid-column-end: end;
              grid-row: 1;
            }
            tr, td, th{
              border: 2px solid wheat;
              border-radius: 2px;
              color:#2E6B5A;
            }
            th{
              background: #EB8365;
            }
            table tr:nth-child(even) td{
              background: #AEEEDC
            }
            table tr:nth-child(odd) td{
              background: #EB8365
            }